[submodule "vendor/wiredtiger"]
	path = vendor/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger.git
[submodule "vendor/pymongo-tests"]
	path = vendor/pymongo-tests
	url = https://github.com/mongodb/mongo-python-driver.git
[submodule "vendor/mongo-go-driver"]
	path = vendor/mongo-go-driver
	url = https://github.com/mongodb/mongo-go-driver.git
[submodule "vendor/node-mongodb-native"]
	path = vendor/node-mongodb-native
	url = https://github.com/mongodb/node-mongodb-native.git
[submodule "vendor/mongo-java-driver"]
	path = vendor/mongo-java-driver
	url = https://github.com/mongodb/mongo-java-driver.git
[submodule "vendor/mongo-ruby-driver"]
	path = vendor/mongo-ruby-driver
	url = https://github.com/mongodb/mongo-ruby-driver.git
[submodule "vendor/mongo-rust-driver"]
	path = vendor/mongo-rust-driver
	url = https://github.com/mongodb/mongo-rust-driver.git
[submodule "vendor/mongo-php-library"]
	path = vendor/mongo-php-library
	url = https://github.com/mongodb/mongo-php-library.git
[submodule "vendor/mongo-php-driver"]
	path = vendor/mongo-php-driver
	url = https://github.com/mongodb/mongo-php-driver.git
[submodule "vendor/mongo-c-driver"]
	path = vendor/mongo-c-driver
	url = https://github.com/mongodb/mongo-c-driver.git
[submodule "vendor/mongo-cxx-driver"]
	path = vendor/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
[submodule "vendor/mongo-csharp-driver"]
	path = vendor/mongo-csharp-driver
	url = https://github.com/mongodb/mongo-csharp-driver.git
